<configuration>
  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
     <file>${application.home:-.}/logs/application.log</file>
     <encoder>
       <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
     </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%highlight(%.-3level) %cyan(%d{HH:mm:ss.SSS}) %yellow(%-36.36logger{36}) %highlight(%replace(%replace(%msg){'received handled message', ' ← '}){'unhandled message from', "✘ ← unhandled from"}) %n </pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="akka" level="INFO" />
  <logger name="akka.actor.RepointableActorRef" level="DEBUG" />
  <logger name="actors" level="DEBUG" />
  <logger name="controllers" level="DEBUG" />
  <logger name="db" level="DEBUG" />
  <logger name="services" level="DEBUG" />
  <logger name="utils" level="DEBUG" />

  <root level="WARN">
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

  <!--Change to "DEBUG" to see sql statements-->
  <logger name="slick.jdbc.JdbcBackend.statement" level="WARN" />

</configuration>
